//--PLUGIN NIB--//
@import 'nib/vendor'
vendor-preixes = o ms moz webkit official
@import 'nib/gradients'
//--IMPORTS--//
@import "variants.styl"
html 
    overflow-x hidden
body
    background var(--background-color)
    overflow-x hidden
    font-family 'Poppins', sans-serif
@font-face
    font-family 'Product Sans'
    src url('../fonts/ProductSans-BoldItalic.woff2') format('woff2'), url('../fonts/ProductSans-BoldItalic.woff') format('woff')
    font-weight bold
    font-style italic
@font-face 
    font-family 'Product Sans'
    src url('../fonts/ProductSans-Italic.woff2') format('woff2'), url('../fonts/ProductSans-Italic.woff') format('woff')
    font-weight normal
    font-style italic
@font-face 
    font-family 'Product Sans'
    src url('../fonts/ProductSans-Bold.woff2') format('woff2'), url('../fonts/ProductSans-Bold.woff') format('woff')
    font-weight bold
    font-style normal
@font-face 
    font-family 'Product Sans'
    src url('../fonts/ProductSans-Regular.woff2') format('woff2'), url('../fonts/ProductSans-Regular.woff') format('woff')
    font-weight normal
    font-style normal
h1, h2, h3, h4, h5, h6
    font-family 'Product Sans'
    font-weight normal
header
    padding 10px 0
    position fixed
    top 0
    left 0
    width 100%
    z-index 9
    transition all 1s
    .logo
        width 100%
        max-width 80px
        filter var(--color-logo) 
        mix-blend-mode exclusion
    .nav-desk
        display inline-block
        vertical-align top
        margin 5px 32px 0 0 
        padding 0
        position relative
        &:before
            content ""
            width 5px
            height 5px
            background var(--color-reverse)
            border-radius 10px
            position absolute
            right -25px
            top 12px
        li
            display inline-block
            vertical-align top
            margin 0 8px
            a
                font-family 'Product Sans'
                color var(--color-reverse)
                font-size 18px
                text-decoration none
                font-weight normal
                transition all 0.5s
    .nav-lang
        display inline-block
        vertical-align top
        margin 5px 16px 0 8px
        padding 0
        li
            display inline-block
            vertical-align top
            margin 0 8px
            a
                font-family 'Product Sans'
                color var(--color-reverse)
                font-size 18px
                text-decoration none
                font-weight normal
                opacity 0.7
                transition all 0.5s
                &:hover
                    opacity 1
            .active
                opacity 1
#home
    width 100vw
    min-height 100vh
    position relative
    overflow hidden
    .photo-prim
        position absolute
        bottom 0 
        margin 0 auto
        left 0
        right 0
        height 85%
        text-align center
        img
            height 100%
            filter var(--images-filter)
    .slogan
        position absolute
        bottom -30px
        left 0
        mix-blend-mode exclusion
    .cont-rol
        position absolute
        bottom 300px
        right 20%
        z-index 8
        img
            width 40px
            margin 0 0 32px
        h1
            color white 
            font-weight normal
            font-size 50px
#phrase
    width 100vw
    padding 200px 0
    overflow hidden
    background var(--background-color-sec)
    position relative
    video
        position absolute
        width 100%
        height 100%
        left 0
        top 0
        object-fit cover
    h2
        color var(--color-reverse)
        font-size 80px
        font-family 'Poppins', sans-serif
        font-weight normal
        position relative
        z-index 2
        span
            font-weight bold
            font-family 'Product Sans'
            font-style normal
            text-transform uppercase
            filter var(--color-logo) 
            @supports (background-clip:text) or (-webkit-background-clip:text) 
                color transparent
                background-clip text
                -webkit-background-clip text
                background-image: url(../images/space-texture.webp) 
                background-size cover
                background-position center
#aboutme
    width 100vw
    padding 120px 0
    overflow hidden
    background var(--background-color-three)
    position relative
    h2
        text-align center
        color var(--color-reverse)
        font-size 60px
        display block 
        margin 0 0 32px 0
        span
            font-weight bold
    h3 
        text-align center
        margin 0 0 32px
    p
        color var(--color-reverse)
    .cont-cards
        margin 80px 0 0
        position relative 
        overflow hidden
        .cards-about
            width 270px
            margin 0 8px
            height 340px
            border-radius 32px
            opacity 1
            filter var(--images-filter)
            display inline-block
            vertical-align top
            position relative
            overflow hidden
            &:before
                content ""
                width 100%
                height 100%
                position absolute
                left 0
                top 0
                background linear-gradient(180deg, rgba(11,11,11,0) 0%, rgba(11,11,11,0) 49%, rgba(11,11,11,0.5) 72%, rgba(11,11,11,1) 100%)
                z-index 2
                border-radius 32px
            video, img
                width 100%
                height 100%
                position absolute
                top 0
                left 0
                margin 0 auto
                object-fit cover
                filter var(--images-filter)
                z-index -1
            .info-card
                position absolute
                left 0
                bottom 0
                width 100%
                padding 32px
                text-align left
                z-index 3
                color var(--color-reverse)
                h5
                    margin 0
                    font-family 'Poppins', sans-serif
                    font-size 16px
                    font-weight normal
                    color #fff
        .left
            top 0
            left -100px
            background url("../images/fabianyrenato.webp") center center
            background-size cover
        .center 
            top -100px
            left 0
            right  0
            margin 0 auto
            background url("../images/fabianzapatacliente.webp") center center
            background-size cover
        .right
            top 0
            right -100px
            background url("../images/espaciodetrabajo.webp") center center
            background-size cover
    .circle-mask
        width 200px
        height 200px
        border-radius 50%
        overflow hidden
        position relative
        video
            width 100%
            height 100%
            position absolute
            top 0
            left 0
            margin 0 auto
            object-fit cover
            filter var(--images-filter)
#work
    width 100vw
    padding 150px 0 50px
    overflow hidden
    background var(--background-color-sec)
    position relative
    h2
        color var(--color-reverse)
        font-size 60px
        display block 
        margin 0 0 32px 0
        span
            font-weight bold
    h3 
        text-align center
        margin 0 0 32px
    p
        color var(--color-reverse)
    .avatar
        width 100%
        filter var(--images-filter)
    .cont-skills
        background var(--color-reverse)
        padding 32px 32px 16px 32px
        border-radius 32px
        box-shadow 4px 1px 50px 0px rgba(0, 0, 0, 0.10)
        width 80%
        margin -200px 0 0 20%
        position relative
        z-index 2
        h5
            margin 0 0 16px 0
            color var(--background-color)
        .circle-mask
            width 100px
            height 100px
            border-radius 50%
            overflow hidden
            position relative
            video
                width 100%
                height 100%
                position absolute
                top 0
                left 0
                margin 0 auto
                object-fit cover
                filter var(--images-filter)
        .tag
            color var(--background-color)
            border 1px solid var(--background-color)
.cont-toggle
    cursor pointer
    width 68px
    background var(--color-reverse)
    padding 4px
    border-radius 32px
    position relative
    height 38px
    transition all 0.5s
    display inline-block
    .circle-toggle
        width 30px
        height 30px
        background var(--background-color-sec)
        border-radius 100% 
        position absolute
        left 4px
        top 4px
        transition all 0.5s
        .icon-toggle
            width 20px
            height 20px
            background url("../images/toggle.svg") 
            background-position center top
            position absolute
            left 5px
            top 5px
            transition all 0.3s
.toogledark
    .circle-toggle
        left 34px
        .icon-toggle
            background-position center bottom
.text-right
    text-align right
.animatable 
    position relative
    transition transform 0.5s line
.follower 
    top -50px
    position absolute
    width 50px
    height 50px
    z-index 10
    border-radius 100%
    border 2px solid white
    mix-blend-mode difference
    transition background-color 0.5s ease
.scrolled
    backdrop-filter blur(10px)
    background var(--background-header)
.slider
    width 100%
    overflow hidden
    li
        display inline-block
    img 
        filter var(--color-logo)
        opacity 0.8
        width 100%
#portfolio
    padding 100px 0 50px
    background var(--background-color-sec)
    h2
        text-align center
        color var(--color-reverse)
        font-size 50px
        margin 0 0 100px
    .job
        margin 0 0 100px
        h3
            color var(--color-reverse)
            font-size 60px
            display block 
            margin 0 0 32px 0
            span
                font-weight bold
        p
            color var(--color-reverse)
        ul
            padding 0
            margin 36px 0
            list-style none
        figure
            position relative
            width 95%
            max-width 1500px
            margin 50px auto
        img
            width 100%
            border-radius 32px
            filter var(--images-filter)
            position relative
            transition all 0.5s
        .dec
            width 100%
            content ""
            width 100%
            height 100%
            position absolute
            right 0
            margin 0 auto
            left 0
            top 0
            background linear-gradient(180deg, rgba(11,11,11,0) 0%, rgba(11,11,11,0) 49%, rgba(11,11,11,0.5) 72%, rgba(11,11,11,0.9) 100%)
            z-index 2
            border-radius 32px
            transition all 0.5s
        .cont-action
            position absolute
            bottom 32px
            right 32px
            z-index 3
        .link-imag:hover
            img
                filter grayscale(0.3)
            .dec
                opacity 0.5
.title-tag
    font-size 16px
    padding 8px 16px
    background var(--color-reverse)
    display inline-block
    border-radius 16px
    color var(--background-color-sec)
.tag  
    border 1px solid var(--color-reverse)
    padding 8px 16px
    border-radius 32px
    margin 0 0 16px
    color var(--color-reverse)
    font-size 14px
.btn-icon-right
    padding 16px 16px 16px 32px 
    border 1px solid var(--color-reverse)
    color var(--color-reverse)
    transition all 0.5s
    border-radius 32px 
    text-decoration none
    margin 32px 16px 32px 0
    display inline-block
    vertical-align middle
    ion-icon
        font-size 24px
        margin -5px 16px 0
        vertical-align middle
    &:hover
        background var(--color-reverse)
        color var(--background-color-sec)
.btn-icon
    padding 16px 
    border 1px solid #fff
    background #fff
    color #292929
    transition all 0.5s
    border-radius 50px 
    text-decoration none
    margin 0 8px
    display inline-block
    font-size 16px
    ion-icon
        font-size 24px
        margin -5px 16px 0
        vertical-align middle
.btn-icon-right-color
    padding 16px 16px 16px 32px 
    border 1px solid var(--color-reverse)
    color var(--background-color-sec)
    background var(--color-reverse)
    transition all 0.5s
    border-radius 32px 
    text-decoration none
    margin 32px 0
    display inline-block
    ion-icon
        font-size 24px
        margin -5px 16px 0
        vertical-align middle
.btn-icon-right-left
    padding 16px 32px 
    border 1px solid var(--color-reverse)
    color var(--color-reverse)
    transition all 0.5s
    border-radius 32px 
    text-decoration none
    margin 32px 0
    display inline-block
    ion-icon
        font-size 24px
        margin -5px 16px 0
        vertical-align middle
    &:hover
        background var(--color-reverse)
        color var(--background-color-sec)
#contact
    padding 100px 0
    background var(--background-color-sec)
    text-align center
    h2
        color var(--color-reverse)
        font-size 60px
        display block 
        margin 0 0 32px 0
        span
            font-weight bold
    p
        color var(--color-reverse)
.card-plan
    width 100%
    padding 32px
    text-align left
    border-radius 32px
    display block
    text-decoration none
    margin 0 0 32px
    display inline-block
    &:hover
        .btn-car-price
            background #292929
            color #FFFAFA
    label
        font-size 14px
        color #292929
        strong
            color #292929
    h6
        font-size 25px
        font-weight normal
        color #292929
        span
            font-weight bold
    p
        color #292929 !important
    h5
        font-size 25px
        font-weight bold
        color #292929
        margin 0
    .icon
        width 45px
        height 45px
        background #292929
        border-radius 50px
        display inline-block
        ion-icon
            font-size 50px
            margin 0 12px 0
            vertical-align middle
            color #fff
            display inline-block
    .btn-car-price
        padding 16px 16px 16px 32px
        border 1px solid #292929
        color #292929
        -webkit-transition all 0.5s
        transition all 0.5s
        border-radius 32px
        text-decoration none
        width 100%
        display inline-block
        text-align center
        margin 16px 0 0
        i
            margin 0 16px
.card-green
    background #56C598
    hr
        border-color #359c73
.card-black
    background var(--color-reverse)
    &:hover
        .btn-car-price
            background var(--background-color-sec)
            color var(--color-reverse) 
            i
                color var(--color-reverse)
    p, h6, h5
        color var(--background-color-sec) !important
    hr
        border-color var(--background-color-three)
    label
        color var(--background-color-three)
    .btn-car-price
        color var(--background-color-sec)
        border-color var(--background-color-sec)
        i
            color var(--background-color-sec)
            transition all 0.5s
.card-purple
    background #C391F5
    hr
        border-color #8f49d4
.card-yellow
    background #F7FD8F
    hr
        border-color #b7bd42
.card-red
    background #FD8F8F
    hr
        border-color #d35050
#contactplus
    padding 100px 0
    background var(--background-color-four)
    h2
        color var(--color-reverse)
        font-size 60px
        display block 
        margin 0 0 32px 0
        span
            font-weight bold
    p
        color var(--color-reverse)
footer
    background var(--background-color)
    padding 100px 0
    color #fff
    .mail
        color #fff
        text-decoration none
        font-size 55px
        margin 0 0 32px
        display block
    ul
        list-style none
        padding 0
        li
            padding 0
            margin 0 0 10px
            a 
                color #fff
                text-decoration none
    p
        font-size 14px 
        font-weight normal
@media (max-width: 1500px)
    footer
        .mail
            font-size 40px
    #home
        .slogan
            width 140%
        .cont-rol
            right 10%
@media (max-width: 1200px)
    .btn-icon-right, .btn-icon-right-color
        width 100%
        margin: 32px 0 0 0
        text-align center
    footer
        ul
            margin 0 0 32px
    #phrase
        padding 100px 0
        h2
            font-size 50px
    #portfolio
        .text-end
            text-align left !important
        ul
            li
                display inline-block
                vertical-align top
                margin 0 16px 0 0
    #work
        .cont-skills
            width 100%
            margin -200px 0 0 0
@media (max-width: 960px)
    #portfolio
        .job
            h3
                font-size 60px
            figure
                margin 0 auto
    #home
        .slogan
            bottom 100px
            width 200%
        .cont-rol
            bottom 300px
    header
        .nav-desk
            display none
    .follower 
        display none
@media (max-width: 720px)
    #contactplus
        .btn-icon-right
            display none
        .card-plan
            margin 32px 0 0 
    footer
        .mail
            font-size 30px
    .container
        padding 0 20px
    header
        .logo
            max-width 70px
    #home
        .photo-prim
            height initial
            width 100%
            img
                height initial
                width 100%
    #phrase
        h2
            font-size 30px
    #aboutme
        h2
            font-size 40px
    #contact, #contactplus
        h2
            font-size 40px
    #work
        img
            margin 32px 0 0 0
        h2
            font-size 40px
        .cont-skills
            margin -100px 0 0 0
    #portfolio
        h2
            font-size 40px
        .job
            margin 0 0 50px
            h3
                font-size 30px
@media (max-width: 500px)
    footer
        .mail
            font-size 25px
    #home
        .cont-rol
            bottom 250px
            h1
                font-size 30px
            img 
                width 30px
                margin 0 0 16px 0